.fancy-button {
  position: relative;
  top: 0;
  left: 0;

  display: inline-block;
  min-width: 5em;
  margin: .5em;
  padding: .5em .75em;

  font-weight: bold;
  font-size: 1.25rem;
  text-decoration: none;
  text-align: center;
  color: white;

  background-color: #057be9;
}

.fancy-button:hover {
  top: .3em;
  left: -.4em;
  transition: all .15s;
}

.fancy-button::after {
  box-sizing: border-box !important;
  position: absolute;
  top: .35em;
  left: -.35em;
  display: block;
  width: 100%;
  height: 100%;
  content: "";
  border: 1.5px solid white;
  z-index: -1;
}

.fancy-button:hover::after {
  top: 1px;
  left: 1px;
  transition: all .15s;
}

@media only screen and (max-width: 320px) {
  .fancy-button {
      font-size: 1rem;
  }
}

@media only screen and (max-width: 300px) {
  .fancy-button {
      font-size: 4vw;
  }
}