header {
  position: relative;
  z-index: 100 !important
}

header .nav-bar {
  top: 0 !important;
  position: fixed;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  height: 3.125em;
  transition: height .25s;
  width: 100%;
  background-color: #333;
  z-index: 10;
}

@media only screen and (min-width: 450px) {
  header .nav-bar {
    height: 4em;
  }        
}

header .clear-nav-bar {
  background-color: rgba(51, 51, 51, 0);
  transition: background-color 0.25s;
}

nav ul {
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  list-style: none;
}

.main-navigation-items {
  grid-area: 1 / 1 / span 1 / span 1;
  justify-self: start;
  align-content: center;
  display: flex;
  display: -webkit-flex;
}

/* Logo */
#main-logo-container {
  font-size: 2rem;
}

#main-logo-container.main-logo-container {
  display: grid;
  padding-left: 0.375em;
  height: 100%;
  margin: 0;
}

@media only screen and (min-width: 700px) {
  #main-logo-container.main-logo-container {
      padding: .35em
  }
}

#main-logo-container.main-logo-container .main-logo-text {
  position: absolute;
  font-size: 0rem;
  color:rgba(0, 0, 0, 0);
  z-index: -10;
}

#main-logo-container.main-logo-container .main-logo-link {
  display: flex;
  display: -webkit-flex;
  margin: auto auto;
  padding-right: .5em;
}

header .main-logo {
  height: 0.625em;
  transition: height 0.25s;
}

  @media only screen and (min-width: 450px) {
      header .main-logo {
          height: 1em
      }
  }

.nav-bar-element span {
  padding: .75em;
  color: white;
}

.mobile-menu {
  grid-area: 1 / 3 / span 1 / span 1;
  justify-self: end;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  display: block;
  height: 150%;
  width: 100%;
  padding: 2em;
  top: 0;
  right: -100%;
  transition: right .35s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  background-color: #333;
  z-index: 10;
}

.mobile-nav .social {
  display: flex;
  display: -webkit-flex;
  justify-content: end;
  -webkit-justify-content: end;
  padding: 0;
}

.mobile-nav .social-icon i {
  font-size: 1.25em;
}

.mobile-nav .social-icon:hover {
  transition: margin .25s;
  margin-top: -.25rem;
}

.mobile-nav .social-icon:not(hover) {
  transition: margin .25s;
}

.mobile-nav a {
  display: block;
  margin: 0.5rem;
  margin-bottom: 1rem;
}

.mobile-nav ul a:hover {
  transition: margin .25s;
  margin-right: .75rem;
}

.mobile-nav ul a:not(hover) {
  transition: margin .25s;
}

.mobile-nav li {
  color: white ;
  text-align: right;
  font-size: 1.25rem;
}

.mobile-nav li:hover {
  transition: color 0.25s;
  color: #ffb152;
}

.mobile-nav li:not(:hover) {
  transition: color 0.25s;
}

.mobile-nav hr {
  width: 5em;
  border: 0px solid white;
  border-bottom: 1px solid rgb(126, 126, 126);
  margin: .75em 0 1.5em auto;
  padding: 0;
}

.mobile-nav .mobile-menu-close {
  position: absolute;
  top: 1.25em;
  left: .75em;
}

.mobile-nav .mobile-menu-close span {
  position: absolute;
  color: rgba(255, 255, 255, 0);
  z-index: -1;
}

.mobile-nav .mobile-menu-close #mobile-menu-close {
  height: .75rem;
  width: .75rem;
  border-right: 0.19375em solid white;
  border-bottom: 0.19375em solid white;
  transform: rotate(-45deg);
  cursor: pointer;
}

/* Desktop Navigation Bar */

.desktop-nav {
  display: none;
}

@media only screen and (min-width: 700px) {
  .desktop-nav {
    display: flex;
    display: -webkit-flex;
  }

  .desktop-nav ul {
    display: flex;
    display: -webkit-flex;
  }

  .desktop-nav ul a {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    margin: 0 .5em;
  }

  .desktop-nav ul li:hover {
    transition: color 0.25s;
    color: #ffb152;
  }

  .desktop-nav ul li:not(:hover) {
    transition: color .25s;
  }

  .desktop-nav ul a li {
    color: white;
  }

  .mobile-menu {
    display: none;
  }

  .nav-bar .social {
    grid-area: 1 / 3 / span 1 / span 1;
    justify-self: right;
    padding: 1rem;
  }
}