/*----- HOME SECTION -----*/
header {
    position: relative;
    display: grid;
    grid-template-rows: 3.125em 6fr 11vh;
    
    /* height: 100vh; */
    height: 35em;
    background-image: linear-gradient(  rgb(0, 0, 0),
                                        rgba(26, 10, 1, 0.63),
                                        rgba(138, 79, 3, 0.26)),
                        url('../img/index/hero-bg.jpg');
    background-size: cover;
    background-position:  75%;
    background-repeat: no-repeat;
}

@media only screen and (min-width: 450px) {
    header {
        height: 42em;
    }
}

@media only screen and (min-width: 1074px) {
    header {
        grid-template-rows: 4em 1fr 15vh;
    }
}

#home {
    grid-area: 2 / 1 / span 1 / span 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

#home .site-intro {
    justify-content: center;
}

#home .site-intro h2 {
    position: relative;
    margin: auto;
    display: inline-block;
    font-size: 15vw;
    line-height: 84.2%;
    color: white;
}

#home .site-intro h2::after {
    position: absolute;
    top: -2vw;
    right: -2vw;
    display: block;
    width: 25vw;
    height: 11vw;
    content: "";
    border-top: 2px dotted #48ACF0;
    border-right: 2px dotted #48ACF0;
}

#home .site-intro p {
    position: relative;
    margin-top: 0;
    font-size: 4.35vw;
    letter-spacing: 0.075em;
    text-align: right;
    color: white;
}

#home .site-intro p::after {
    position: absolute;
    bottom: -2vw;
    left: -2vw;
    display: block;
    width: 22.5vw;
    height: 8vw;
    content: "";
    border-bottom: 2px dotted #FF8B00;
    border-left: 2px dotted #FF8B00;
}

#home-divider {
    position: relative;
    top: 1px;
    grid-area: 3 / 1 / span 1 / span 1;
    background-image: url('../img/dividers/triangle-uneven-bottom.svg');
    background-position: 25% top;
    background-repeat: no-repeat;
    background-size: cover;
}