/*--- Universal ---*/
* {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

h2 {
    font-size: 1.5rem;
}

    @media only screen and (min-width: 550px) {
        h2 {
            font-size: 2rem;
        }   
    }

h3 {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-size: 1.125rem;
}

    @media only screen and (min-width: 600px) {
        h3 {
            font-size: 1.5rem;
        }
    }

p {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: calc(14rem / 16);
}

@media only screen and (min-width: 600px) {
    p {
        font-size: 1rem;
    }
}

/*--- Containers ---*/

.col-grid {
    max-width: 1440px;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 15px;
    justify-content: center;
}

.col-span-2 { grid-column-end: span 6; }
    @media only screen and (min-width: 550px) {
        .col-span-2 { grid-column-end: span 4; } }

    @media only screen and (min-width: 800px) {
        .col-span-2 { grid-column-end: span 3; } }

    @media only screen and (min-width: 1100px) {
        .col-span-2 { grid-column-end: span 2; } }

.col-span-3 { grid-column-end: span 12; }

    @media only screen and (min-width: 600px) {
        .col-span-3 { grid-column-end: span 6; } }

    @media only screen and (min-width: 950px) {
        .col-span-3 { grid-column-end: span 4; } }

    @media only screen and (min-width: 1250px) {
        .col-span-3 { grid-column-end: span 3; } }

.col-span-4 { grid-column-end: span 12; }

    @media only screen and (min-width: 750px) {
        .col-span-4 { grid-column-end: span 6; } }

    @media only screen and (min-width: 1175px) {
        .col-span-4 { grid-column-end: span 4; } }

.col-span-6 { grid-column-end: span 12; }

    @media only screen and (min-width: 1120px) {
        .col-span-6 { grid-column-end: span 6; } }

.col-span-12 { grid-column-end: span 12; }




/*--- Decorative Header 2 ---*/

.hdecor-box{
    display: flex;
    min-width: 200px;
}

.hdecor-box.center{
    justify-content: flex-start;
}

    @media only screen and (min-width: 800px) {
        .hdecor-box.center{
            justify-content: center;
        }
    }

.hdecor {
    width: 50px;
    margin: auto 0;
}

    @media only screen and (min-width: 550px) {
        .hdecor {
            width: 150px;
        }
    }

.hdecor-left {
    display: none;
}

.hdecor-left .hdecor-long,
.hdecor-left .hdecor-short {
    margin-left: auto;
}

.hdecor-box.center .hdecor-left {
    display: none;
}

    @media only screen and (min-width: 800px) {    
        .hdecor-box.center .hdecor-left {
            display: block;
        }
    }

.hdecor-box h2 {
    margin: 1.875rem 0.625rem 1.875rem 0;
}

.hdecor-box.center h2 {
    margin: 1.875rem 0.625rem 1.875rem 0;
}

    @media only screen and (min-width: 550px) {
        .hdecor-box h2 {
            margin: 3.125rem 2rem 3.125rem 0;
        }
        
        .hdecor-box.center h2 {
            margin: 3.125rem 2rem 3.125rem 0;
        }
    }

    @media only screen and (min-width: 800px) {
        .hdecor-box h2 {
            margin-right: 2rem;
            margin-left: 0;
        }
        
        .hdecor-box.center h2 {
            margin-left: 2rem;
        }
    }

.hdecor-long {
    margin-bottom: 6px;
    width: 100%;
    height: 2px;
    background-color: black;
}

    @media only screen and (min-width: 550px) {
        .hdecor-long {
            margin-bottom: 12px;
        }
    }

.hdecor-short {
    width: 50%;
    height: 1.5px;
    background-color: black;
}




/*--- Decorative Header 2 ---*/

.roadmap {
    display: grid;
    justify-items: center;
    margin: 0 auto;
    width: 80%;
    max-width: 1440px;
    grid-template-columns: repeat(1, 1fr);
}

    @media only screen and (min-width: 850px) {
        .roadmap {
            grid-template-columns: repeat(2, 1fr);
            width: 100%;
        }
    }

.milestone-box:nth-child(1)::before{
    content: "";
    display: block;
    position: absolute;
    height: 1.2em;
    width: 1.2em;
    border-radius: 50%;
    top:-1em;
    left:-.825em;
    border: 3px solid #FF8B00;
    background-color: white;
}

.milestone-box {
    position: relative;
}

    @media only screen and (min-width: 850px) {
        .milestone-box {
            max-width: 26.5em;
        }
    }

.milestone-box-right {
    padding: 1.5625em 0 1.5625em 2.5em;
    border-left: 1px solid #707070;
    justify-self: left;
    grid-column-start: 1;
    grid-row-start: 1;
}

    @media only screen and (min-width: 850px) {
        .milestone-box-right {
            padding: 1.5625em 0 1.5625em 3.125em;
            grid-column-start: 2;
        }
    }

.milestone-box-left {
    position: relative;
    padding: 1.5625em 0 1.5625em 2.5em;
    border-left: 1px solid #707070;
    justify-self: left;
    text-align: left;
    right: 0px;
    grid-column-start: 1;
}

    @media only screen and (min-width: 850px) {
        .milestone-box-left {
            padding: 1.5625em 3.125em 1.5625em 0;
            border-right: 1px solid #707070;
            border-left: 0px solid #707070;
            justify-self: right;
            text-align: right;
            right: -1px;
        }
    }

.milestone-box-right .milestone-company::before {
    content: "";
    display: block;
    position: absolute;
    left: -.75em;
    top: 3em;
    height: 1.375em;
    width: 1.375em;
    border-radius: 50%;;
    background-color: #707070;
}

.milestone-box-left .milestone-company::before {
    content: "";
    display: block;
    position: absolute;
    left: -.75em;
    top: 3em;
    height: 1.375em;
    width: 1.375em;
    border-radius: 50%;
    background-color: #707070;
}

    @media only screen and (min-width: 850px) {
        .milestone-box-left .milestone-company::before {
            left: auto;
            right: -.75em;
        }
    }

h3.milestone {
    margin: 0 0 calc(2em/3) 0;
}

p.milestone {
    line-height: 1.5em;
    margin: 0 0 .75em 0;
}

.milestone-description {
    margin-bottom: 0 !important;
}

#milestone-button {
    min-height: 3.125em;
    position: relative;
    left: -1em;
    grid-column: 1 / span 2;
    justify-self: left;
}

    @media only screen and (min-width: 850px) {
        #milestone-button {
            justify-self: center;
            left: 0;
        }    
    }

#milestone-button button {
    height: 3.125em;
    z-index: 1;
    border: 0px solid;
    color: white;
    padding: 0 1.5em;
    background-color: #ff7300;
    cursor: pointer;
}

#milestone-button button span {
    margin-left: .5em;
}

#milestone-button button:hover {
    font-size: 15px;
    transition: font-size .5s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

#milestone-button button:not(:hover) {
    font-size: 16px;
    transition: font-size .25s;

}




/*--- Skills Container ---*/

.icons {
    display: flex;
    align-items: flex-end;
    gap: .5em;
}

.skill {
    padding: 1.25em;
    width: 100%;
    background-color: white;
}

.skill-icon {
    height: 3.75rem;
    font-size: 3.75rem;
    color: #AAA;
}

.codecademy-badge img {
    height: 1em;
}

.badges {
    display: flex;
    gap: .25em;
}

.badges img {
    filter: invert(80%) sepia(8%) saturate(8%) hue-rotate(360deg) brightness(85%) contrast(89%);
}

.badges img:hover {
    filter: invert(19%) sepia(11%) saturate(2535%) hue-rotate(160deg) brightness(102%) contrast(89%);
}

.skill-text {
    font-weight: 900;
    margin: .5em 0;
}

.progress-bar {
    position: relative;
    height: .3125em;
    width: 100%;
    background-color: #AAA;
}

.progress-bar:nth-child(4){
    content:"";
    margin-top: 1.25em;
}

.progress-percent {
    height: 100%;
    width: 40%;
}

.education .progress-percent {
    background-color: #48ACF0;
}

.experience .progress-percent {
    background-color: #FF8B00;
}

.progress-peg {
    position: absolute;
    height: calc(15em/16);
    width: calc(15em/16);
    top: calc(-5em/16);
    left: calc(40% - .75em);
    border-radius: 50%;
    color: rgba(1,1,1,0);
}

.education .progress-peg {
    background-color: #48ACF0;
}

.experience .progress-peg {
    background-color: #FF8B00;
}



/*--- Tooltip ---*/
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}
  
/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    background-color: rgba(85, 85, 85, 0.9);
    color: #fff;
    text-align: center;
    padding: 0.3125em 0.3125em;
    border-radius: 0.375em;
    font-size: .75rem;
  
/* Default position of the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: -650%;
    left: 48%;
    margin-left: -3.75em;
  
/* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip text positioned to the right */
.right .tooltiptext {
    bottom: -50%;
    left: 450%;
    margin-left: -3.75em;
}

  
/* Tooltip arrow pointing to the top */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 0.3125em;
    border-style: solid;
    border-color: transparent transparent rgba(85, 85, 85, 0.9) transparent;
}

/* Tooltip arrow pointing to the left */
.right .tooltiptext::after {
    bottom: 35%;
    left: -3.5%;
    margin-left: -5px;
    border-color: transparent rgba(85, 85, 85, 0.9) transparent transparent;
}



  
/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



  
/*--- Helper Classes ---*/
.uppercase {
    text-transform: uppercase;
}

.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }